body {
  font-family: Arial;
  margin: 0;
  background: #f2f4f8;
}

.navbar {
  background: #1976d2;
  color: white;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}

.top-controls {
  text-align: center;
  margin: 15px;
}

.main-btn {
  background: #1565c0;
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.searchBox {
  width: 92%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
  padding: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0002;
}

.view-btn {
  background: #2196f3;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #0008;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  width: 92%;
  max-width: 900px;
  padding: 20px;
  border-radius: 12px;
  max-height: 90vh;
  overflow: auto;
}

.closeBtn {
  float: right;
  background: #e53935;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sectionBox {
  background: #f8fbff;
  padding: 12px;
  border-left: 4px solid #1976d2;
  margin-top: 12px;
  border-radius: 8px;
}

/* SUMMARY CARDS */
.summaryRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
  margin-top: 20px;
}

.summaryCard {
  background: #e3f2fd;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 4px #0002;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

canvas {
  background: white;
  border-radius: 8px;
  padding: 10px;
}
